.navbar {
  width: 100%;
  height: 15%;
  background-color: mediumseagreen;
  color: black;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 1em;

  a {
    color: white;
    transition: all 500ms;
    border-bottom: 0;

    &:hover {
      font-size: 18px;
      font-weight: 800;
    }

    &:visited {
      color: white;
    }

    &.navLinkActive {
      border-bottom: 3px solid white;
    }
  }
}

